.form {
  text-align: right;
}
.form button {
  background: var(--main-color);
  color: white;
  border: none;
  padding: 0.3rem 2rem;
  border-radius: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.form button:hover,
.form button:active {
  background: var(--accent-color);
}
